# 待提取的特征
- 现金流的稳健性
- 上下游
    + 客户关系稳健性
    + 现金流的稳健性

In [1]:
import pandas as pd

In [2]:
df = []

In [3]:
for i in range(3):
    df.append(pd.read_excel('../data/附件1：123家有信贷记录企业的相关数据.xlsx',sheet_name=i))

In [4]:
df[0]

     企业代号                 企业名称 信誉评级 是否违约
0      E1          ***电器销售有限公司    A    否
1      E2          ***技术有限责任公司    A    否
2      E3  ***电子(中国)有限公司***分公司    C    否
3      E4          ***发展有限责任公司    C    否
4      E5         ***供应链管理有限公司    B    否
..    ...                  ...  ...  ...
118  E119                ***药房    D    是
119  E120          ***陈列广告有限公司    D    是
120  E121     ***药业连锁有限公司***药店    D    是
121  E122          ***商贸有限责任公司    D    是
122  E123         ***创科技有限责任公司    D    是

[123 rows x 4 columns]

In [5]:
df[1]

        企业代号      发票号码       开票日期  销方单位代号       金额      税额     价税合计  发票状态
0         E1   3390939 2017-07-18  A00297  -943.40  -56.60 -1000.00  有效发票
1         E1   3390940 2017-07-18  A00297 -4780.24 -286.81 -5067.05  有效发票
2         E1   3390941 2017-07-18  A00297   943.40   56.60  1000.00  有效发票
3         E1   3390942 2017-07-18  A00297  4780.24  286.81  5067.05  有效发票
4         E1   9902669 2017-08-07  A05061   326.21    9.79   336.00  有效发票
...      ...       ...        ...     ...      ...     ...      ...   ...
210942  E122  54706234 2019-04-17  A08967   223.30    6.70   230.00  有效发票
210943  E122  55721344 2020-01-10  A09184   264.15   15.85   280.00  有效发票
210944  E123  38493295 2017-12-15  A03624   264.15   15.85   280.00  有效发票
210945  E123  95472001 2018-12-29  A03626   264.15   15.85   280.00  有效发票
210946  E123  54469883 2019-12-18  A03626   264.15   15.85   280.00  有效发票

[210947 rows x 8 columns]

In [6]:
df[2]

        企业代号      发票号码       开票日期  购方单位代号       金额       税额     价税合计  发票状态
0         E1  11459356 2017-08-04  B03711  9401.71  1598.29  11000.0  有效发票
1         E1   5076239 2017-08-09  B00844  8170.94  1389.06   9560.0  有效发票
2         E1   5076240 2017-08-09  B00844  8170.94  1389.06   9560.0  有效发票
3         E1   5076241 2017-08-09  B00844  4085.47   694.53   4780.0  有效发票
4         E1   5076242 2017-08-09  B00844  4085.47   694.53   4780.0  有效发票
...      ...       ...        ...     ...      ...      ...      ...   ...
162479  E123   8887701 2019-12-17  B10944  4827.67   144.83   4972.5  有效发票
162480  E123   8887702 2019-12-17  B10944  7412.62   222.38   7635.0  有效发票
162481  E123  34173085 2019-12-17  B13093  1917.47    57.53   1975.0  有效发票
162482  E123   8887703 2019-12-25  B13093  7252.42   217.58   7470.0  有效发票
162483  E123   8887704 2019-12-25  B13093  6660.19   199.81   6860.0  有效发票

[162484 rows x 8 columns]